<div class="w-56 relative">
  <div class="w-56 left-0 top-0">
    <div class="w-56 left-0 top-0 rounded-lg shadow border">
      @for (item of menuItems; track item; let index = $index) {
      <div class="w-full py-2 uppercase px-3 "
        [ngClass]="item.state == 'active' ? 'bg-gradient-to-b from-cyan-500 to-sky-600 text-white font-bold': 'border border-b-[1px]'">
        {{item.name}}
      </div>

      @for (submenuItem of item.submenu; track submenuItem; let subIndex = $index) {
      <div class=" py-2 pl-9 pr-3 uppercase cursor-pointer relative"
        (click)="redirect(submenuItem.url,item.submenu, subIndex)"
        [ngClass]="submenuItem.state == 'active' ? 'text-cyan-500 w-full font-bold' : '' ">
        <iconify-icon class="absolute top-[50%] -translate-y-1/2 left-3" icon="{{ submenuItem.icon }}"></iconify-icon>
        {{submenuItem.name}}
      </div>
      }
      }
    </div>
  </div>
</div>